/* styles/footer.module.css */
.footer {
    background-color: #31233e;
    /* color5 */
    color: #d1dab9;
    /* color1 */
    padding: 1.5rem 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.h1 {
    font-size: 1rem;
    margin: 0;
    font-weight: normal;
    color: #92bea5;
    /* color2 */
    text-transform: uppercase;
    letter-spacing: 0.1em;
}